[submodule "nvim"]
    path = nvim
    url = https://github.com/stubbornvegeta/nvim.git

[submodule "ranger"]
    path = ranger
    url = https://github.com/stubbornvegeta/ranger.git

[submodule "zsh/plugins/zsh-autosuggestions"]
    path = zsh/plugins/zsh-autosuggestions
    url = https://github.com/zsh-users/zsh-autosuggestions.git
